.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f0e7f7;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-body {
  flex: 1;
  padding: 2rem;
  overflow: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #c09dda;
  padding: 1rem;
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-foot {
  background-color: #c09dda;
  padding: 1rem 0;
  width: 100%;
  margin: 0;
}

